
/*--------------------------->
<!--Section 2 : Fonctionement-->
<!---------------------------*/

.fonct{
    @extend %padding_section;
    background-color: white;
}

/*--------------------------->
<!--Section 3 : Restuarants-->
<!---------------------------*/

main{
    @extend %padding_section;
    background-color: $color-background-main;
}

.cards{
    padding-top : 1rem;
}
.card{ 
    @extend %transition-animation;
    animation: slidein 1s ease-out backwards ;
    transition: 300ms;
    &__tag {
        width: 80px;
        height: 30px;
        background-color: $color-tertiary;
        color: darken($color-tertiary, $amount: 40%);
        border-radius: 3px;
        @include flex(row,center);
        align-items: center;
        font-size: 0.9rem;
        font-weight: bold;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    &__container{
        @extend %shadow;
        position: relative;
        margin-bottom: 1rem;
        border-radius: 15px;    
        width: 100%;
        height : 250px; 
        overflow: hidden;
        background-color: white;
        & img{
            width:100%;
            height: 235px;
            margin-top : -60px;
            object-fit: cover;
        }
        & figcaption{
            padding: 0.5rem 1rem ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.5; 
        }
    }
    &__name h3 strong{
        font-size: 1.2rem;
    }
    &:hover{
        transform : scale(1.02);
    }
    &__heart{
        transition: 1s;
        display: block ;  
        & i{
            font-size: 1.5rem;
        }
        &--nbg{
            display: block;
        }
        &--bg{
            display: none !important;
        }
        &:hover{
            .card__heart--nbg{
                display: none;
                }
            .card__heart--bg{
                animation: heart-color 1.5s ease forwards;
                display: block !important;
                @include background_heart;
                }
        }
    }    
}

