*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding :0;
}

html body{
    /*increment mycounter reset */
    counter-reset: mycounter;
}

a, ul > li{
    text-decoration: none;
    color : black;
}

ul{
    list-style-type: none;
}



