*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding :0;
}

body{
    background-color: $color-background-main;
    font-family: $font-text;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    & li{
      text-decoration: none;  
    }
}



