*{
    font-family: $font-text;
    font-size: 1rem;
}

h2{
    font-weight: $font-weight-thick;
    font-size: 1.5rem;
}

h3{
    font-weight: $font-weight-thin;
    font-size: 1.2rem;
}

h1{
   @extend %logo_text;
}

.menu__title h2{
    @extend %logo_text;
}

textarea{
    font-weight: $font-weight-thin;
}

.loader h1 span{
//font family same as logo
    @extend %logo_text;
//color linear gradient
    @include background_heart;
    text-transform: lowercase;
    font-size: 3rem;
    padding : 0.8rem;    
}
