h2{
    font-family: $font-text;
    font-weight: $font-weight-thick;
}
h3{
    font-family: $font-text;
    font-weight: $font-weight-thin;
}

textarea{
    font-family: $font-text;
    font-size: $font-weight-thin;
}