/*--------------------------------------------->
<!------Section 1 Header : BUtton Explorer----->
<!--------------------------------------------*/
.btn{
    font-family: $font-text;    
    &__submit{
    padding: $padding-height $padding-width ;
    border-radius: 50px;
    border: none;
    color :  white;
    background-image: linear-gradient(350deg,$color-primary,$color-secondary);
    @extend %shadow;
    font-size: 1rem;        
    }
}

/*------------------------------->
<!-- Section 2 : Fonctionnement-->
<!-------------------------------*/
.btn{
    &__container{
        padding: 1rem;
        padding-right: 0;
    }
    &__menu{
        background-color: $color-background-main ;
        @extend %shadow; 
        border:none;
        border-radius : 20px;
        font-size: 1rem;    
        font-weight: bold;
        max-width: 100%;
        height: 75px;
        position: relative;
        margin: 1rem 0;
        &::before{
            display: block;
            /*increment mycounter by 1 */
            counter-increment: mycounter ; 
            content: counter(mycounter);
            width: 25px;
            height: 25px;
            border-radius: 50px;
            background-color: $color-primary;
            position: relative;
            color :white;
            @include flex(row, center);
            align-items: center;
            position: absolute;
            left: -12.5px;
        }
        & i{
            padding : 0 2rem ;            
            font-size: 1.25rem;
            color: darken($color: $color-background-main, $amount: 50);
        }
        &:hover{
            cursor: pointer;
            background-color: lighten($color-primary, 35%);
            & i{
                color : $color-primary
            }
        }
    }
}
.btn__menu{
    @include flex(row, flex-start);
    align-items: center;
}

/*----------------------------------------------------------->
/*----------------------------------------------------------->
/*----------------------------------------------------------->
<!-------------------Button for menu Reatuarant-------------->
<!----------------------------------------------------------*/
/*----------------------------------------------------------->
/*-----------------------------------------------------------*/

.btnmenu{
    &__type{
        @extend %btnmenu_type-typo;
        border-bottom: solid 3px $color-tertiary;
        padding-bottom: 0.2rem;
        margin-bottom: 1rem;
        width: 40px;
    }
    &__cardcontainer{
        position: relative;
    }
    &__card{
        position : relative;
        height: 70px;
        background-color: white;
        border-radius: 20px;
        padding:0.8rem 1.5rem 0.5rem 0.8rem;
        @extend %shadow; 
        &--name{
        @extend %btnmenu_card-typo;
        overflow: hidden;
        }
        &--description{
            line-height: 1.6;
            @include flex(row, space-between);
            & p{
                font-weight: 300;
            }
  
        }

        }
    }

.test{    
    &::after{
        display: inline-block;
        content: "test";
        border : 1 solid green;
        width: 40px;
        background-color: yellow;
        display: none;
    }

}
.checked{
    width: 60px;
    height: 70px;
    background-color: $color-tertiary;
    border-radius : 0 20px 20px 0;                
    position:absolute;
    top:0;
    right: 0;
    overflow: hidden;  
    display: none;
    transition : animation 500ms;
    & > i{
                width : fit-content;
                height: fit-content;
                position: relative;
                top: 30%;
                left: 25%;
                color : white;
                font-size: 1.5rem;
            }
}
.btnmenu__card:hover {
    overflow: hidden;
    & .btnmenu__card--description{
        border:1px solid red;
        transition:500ms;
        &::after{
            display: block;
        }
    }
    & .test{
        display: block;
    }
    & .checked{
        display: block;
        animation: move-left 500ms;
        & i{
            animation: spin 500ms;
        }
    }
}

@keyframes move-left {
 from{
     right : -60px;
    }   
to{
    right : 0px;
    }   
}
@keyframes pushed-left {
    from{
        right : 0px;
    }   
   to{
       transform : scaleX(-80%);
   }   
}
   
@keyframes spin{
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}