/*--------------------------------------------->
<!------Section 1 Header : BUtton Explorer----->
<!--------------------------------------------*/
.btn{
    font-family: $font-text;    
    &__submit{
        padding: $padding-height $padding-width ;
        border-radius: 50px;
        border: none;
        color :  white;
        background-image: linear-gradient(350deg,$color-primary,$color-secondary);
        @extend %shadow;
        font-size: 1rem;
        cursor: pointer;   
        transition : 0.5s ease;      
            &:hover{
                opacity: 70%;
                @extend %shadow-hover;
            }
    }
}


/*------------------------------->
<!-- Section 2 : Fonctionnement-->
<!-------------------------------*/
.btn{
    &__container{
        padding: 1rem;
        padding-right: 0;
    }
    &__menu{
        background-color: $color-background-main ;
        @extend %shadow; 
        border:none;
        border-radius : 20px;
        font-size: 1rem;    
        font-weight: bold;
        max-width: 100%;
        height: 75px;
        position: relative;
        margin: 1rem 0;
        cursor: pointer;
        transition : 0.5s ease;
            &::before{
            display: block;
            /*increment mycounter by 1 */
            counter-increment: mycounter ; 
            content: counter(mycounter);
            width: 25px;
            height: 25px;
            border-radius: 50px;
            background-color: $color-primary;
            position: relative;
            color :white;
            @include flex(row, center);
            align-items: center;
            position: absolute;
            left: -12.5px;
            }
            & i{
                padding : 0 2rem ;            
                font-size: 1.25rem;
                color: darken($color: $color-background-main, $amount: 50);
            }
            &:hover{
                background-color: lighten($color-primary, 35%);
                @extend %shadow-hover;
                transform : scale(1.02);
                & i{
                    color : $color-primary
                }
            }
    }
}
.btn__menu{
    @include flex(row, flex-start);
    align-items: center;

}

/*----------------------------------------------------------->
<!-------------------Button for menu Reatuarant-------------->
/*-----------------------------------------------------------*/
.btnmenu{
    animation: slidein 1s linear backwards ;
    &__type{
        @extend %btnmenu_type-typo;
        border-bottom: solid 3px $color-tertiary;
        padding-bottom: 0.2rem;
        margin-bottom: 1rem;
        width: 40px;
    }
    &__cardcontainer{
        position: relative;
    }
    &__card{
        position : relative;
        height: fit-content;
        background-color: white;
        border-radius: 20px;
        padding:0.8rem 1.5rem 0.5rem 0.8rem;
        margin: 1rem 0;
        cursor: pointer;
        @extend %shadow;
        @extend %transition-animation;
        animation: slidein 1s ease-out backwards ;
        &:last-child{
            margin-bottom : 3rem;
        }
        &--name{
        @extend %btnmenu_card-typo;
        @extend %text-overflow; 
        }
        &--description{
            line-height: 1.6;
            @include flex(row, space-between);
            @extend %transition-animation;
            & p{
                font-size: 0.93em;
                font-weight: 300;
                @extend %text-overflow;
                @extend %transition-animation;
            }
        }
    }
}

.checked{
    width: 60px;
    height: 70px;
    background-color: $color-tertiary;
    border-radius : 0 20px 20px 0;                
    position: absolute;
    top: 0;
    right:0;
    overflow: hidden;  
    display: none;
    & > i{  
                width: fit-content;
                height: fit-content;
                position: relative;
                top: 20px;
                left: 15px;
                color : white;
                font-size: 1.5rem;
            }
}

.btnmenu__card:hover {
    overflow: hidden;
    & .btnmenu__card--description ,
    .btnmenu__card--name {
        animation: pushed-left 1s ease-out forwards;
    }
    & .checked{
        display: block;
        & i{
            animation: spin 1s ease-out;
        }
    }
}

/*--------------------------------------------->
<!------Menu Restaurant : Button Commander----->
<!--------------------------------------------*/
.commander{
    text-align: center;
    padding: 1rem 0 1.5rem 0;
        & .btn__submit{
            padding : 1rem 3rem;
        }
    }
    