@mixin flex($fx-direction , $fx-justify) {
    display:flex;
    flex-direction: $fx-direction;
    justify-content:$fx-justify;
}

@mixin grid($no){
    display: grid;
    grid-template-columns: repeat($no, 1fr);
    grid-template-rows: auto;
    column-gap: $column-gap;

}

@mixin background_heart{
font-size: 1.5rem;
background: linear-gradient(10deg,  $color-secondary ,$color-primary);
/*--clip background--*/
-webkit-background-clip: text;
-webkit-text-fill-color:transparent;
}

