%padding_section{
    padding: 3rem 1rem;   
}

%padding_section_menu{
    padding: 2rem 1rem;
}

%shadow{
    box-shadow: 0 5px 8px darken($color-background-main, 10%);
}

%shadow-hover{
    box-shadow: 0 5px  8px  darken($color-background-main, 25%);
}

%logo_text{
    font-family: $font-logo;
    font-weight: 400;
    font-size: $font-size-title;
}

%btnmenu_type-typo{
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

%btnmenu_card-typo{
    font-size: 1.1rem;
    font-weight: 700;
}

%text-overflow{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
}

%transition-animation{
    transition : animation 1s linear;
}