$font-logo : "Shrikhand", sans-serif;
$font-text : "Roboto", sans-serif;

$font-size-title : 1.8rem;
$font-weight-thick : 700;
$font-weight-thin : 300;


$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary :  #99E2D0;
$color-background-main :#F6F6F6;
$color-footer : #353535;


$padding-height: 1rem;
$padding-width : 2rem;


//---flex variables---//
$flex-direction: (row,column);
$fx-justify: (flex-start,flex-end,center,space-between,space-around,space-evenly);

//--grid variables--//
$no: (1 2 3);
$column-gap: 3rem;



//--Media query size--//
