footer{
    color: white;
    background-color: $color-footer;
    font-weight: 300;
    padding : 1.5rem 1rem;
    a{
        &:visited ,&:active,&:link {
            color : white;
        }
        &:hover{
            border-bottom: solid 1px white;
        }
    }
    & h3{
        font-family: $font-logo;
    }
    & li:first-child{
        padding-bottom: 1rem;
        padding-top : 0;
    }
    & li{
        line-height: 1.5;
        color : white;
        &  i{
            width : 1rem;
            font-size: 0.7rem;
        }
        & span{
            margin-left: 0.5rem;
        }
    }
}