.header{
    &__logo{
    display: block;
    font-family: $font-logo;
    font-weight: 400;
    font-size: $font-size-title;
    background-color: white;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
    padding: $padding-height 0;
    @include flex(row, center);
    position: relative;
    }
    &__search{
        font-size: 1rem;
        padding : $padding-height 0;
        background-color: darken(#f6f6f6 ,5%);
        @include flex(row, center);
        }
        & span{
        padding-left : $padding-height;
        }
    &__explorer {
        background-color: $color-background-main;
        padding: $padding-width 0;
        text-align: center;
        & h2{
            padding: 0 2.8rem ;
        }
        & h3{
            padding: 1.5rem 1rem;
        }
    }

}

