.fonct{
    background-color: white;
    padding: $padding-width ;
}

.btn__container{
    padding : $padding-width 0;
    @include grid(3);
}

.resto{
    &__container{
        border-radius: 20px;      
        width : 332px;
        height : 250px; 
        overflow: hidden; 
        background-color: white;
        & img{
            width:100%;
            height: 170px;
        object-fit: cover;
        }
        & figcaption{
            padding: 0.5rem 1rem ;
            @include flex(row,space-between);
            line-height: 1.5;
            & i{
                font-size: 1.5rem ;
                &:hover{
                    opacity: linear-gradient($color-primary,$color-secondary);
                }
            }
        }
    
}
}